.item-container{

    margin-bottom:0px ;
    display: flex;
    font-family:"Outfit",sans-serif;
 
    
}
.forcard{
    width:100%;
    margin-top: 0px;
    
}

.forreview{
    width:100%;
    padding-top:50px ;
    overflow-y: auto;
    background-color: aqua;
    display: flex;
    flex-direction: column;

}

.item-card{
    width:70%;
    margin-top: 50px;
    font-family: "Outfit",sans-serif;
    display: flex;
    flex-direction: column;
    gap:1vw;
   box-shadow:  0 0 5px rgb(131, 129, 129);
   padding: 10px 10px;
   border-radius: 10px;
}
.item-card-image{
    width:100%;
}
.item-card-image img{
    width:100%;
    height:25vw;
    border-radius: 10px;
}
.item-card-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-card-name img{
height:20px
}

.item-card-price{
    color:tomato;
    font-size: 30px;
    font-weight: 600;
}

@media (max-width:1200px){

    .item-card{
        width:90%;
    }

}


@media (max-width:500px){

    .item-card{
        width:75vw;
    }
    .item-card-image{
        width:75vw;
    }
    .item-card-image img{
        width:75vw;
        height:70vw;
    }

}