.add{
    width:82%;
    height: 90vh;
   
    color:#6d6d6d;
    font-size: 16px;
    display: flex;
align-items: center;

}


.flex-col{
    width:60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:25px;
    border: 1px solid black;
    padding: 30px 30px;
    border-radius: 10px;
  z-index: 999;
box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.157);
}


 .add-img-upload input{
    padding: 10px 10px;
    border-radius: 5px;
    border:1px solid black;
 }
  


.add-product-name input,.add-product-discription textarea{
    width:100%;
    padding:10px;
    outline-color: tomato;
    border-radius: 5px;
    border: 1px solid black;
}
.add-category-price{
display: flex;
width:100%;
justify-content: space-between;
}
.add-category,.add-price{
    width:45%;
}
.add-category-price select,.add-category-price input{
width:100%;
padding: 10px;
outline-color: tomato;
border-radius: 5px;
border:1px solid black;
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color:black;
    color: white;
    cursor: pointer;
  font-weight: bold;
}
.add-img-upload input{
    width:100%;
 
}
.add-price .p2{
    display: none;
}
.add-category .p2{
display: none;
}


@media (max-width:700px){

    .flex-col{
        width:90%;
        
    }

}

@media (max-width:473px){

    .add-category,.add-price{
        width:45%;
    }
    .add-price .p1 , .add-category .p1
    {
        display: none;
    }
    .add-price .p2 , .add-category .p2
    {
        display: flex;
    }
}






.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }