.add{
    width:82%;
    height: 90vh;
   
    color:#6d6d6d;
    font-size: 16px;
    display: flex;
align-items: center;
background-image: url("https://static.vecteezy.com/system/resources/previews/050/679/260/non_2x/fresh-vegetables-and-fruits-arranged-on-a-vibrant-orange-backdrop-creating-a-colorful-culinary-display-in-a-kitchen-setting-photo.jpg");
background-size: cover;


}


.flex-col{
    width:60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:25px;
   
    padding: 30px 30px;
    border-radius: 10px;
  z-index: 999;
box-shadow: 0 0 10px 10px #a9a9a919;
background-image: url("");
background-size: cover;
background-color:rgba(0, 0, 0, 0.159);
}
.flex-col p{
    color: white;
}

 .add-img-upload input{
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid #c9c9c9;
    background-color: transparent;
    color: white;
    outline: white;
 }
 .add-img-upload input::placeholder{
    color: white;
 }


.add-product-name input,.add-product-discription textarea{
    width:100%;
    padding:10px;
    outline-color: white;
    border-radius: 5px;
    border: 2px solid #c9c9c9;
    background-color: transparent;
    color: white;
}
.add-product-name input::placeholder,.add-product-discription textarea::placeholder{
    color: white;
}
.add-category-price{
display: flex;
width:100%;
justify-content: space-between;
}
.add-category,.add-price{
    width:45%;
}
.add-category-price select,.add-category-price input{
width:100%;
padding: 10px;
outline-color: white;
border-radius: 5px;
border: 2px solid #c9c9c9;
background-color: transparent;
color: white;
}
.add-category-price select::placeholder,.add-category-price input::placeholder{
    color:white;
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color:white;
    color: black;
    cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;;
}
.add-img-upload input{
    width:100%;
    outline-color:white;
    border: 2px solid #c9c9c9;
   
 
}
.add-price .p2{
    display: none;
}
.add-category .p2{
display: none;
}


@media (max-width:700px){

    .flex-col{
        width:90%;
        
    }

}

@media (max-width:473px){

    .add-category,.add-price{
        width:45%;
    }
    .add-price .p1 , .add-category .p1
    {
        display: none;
    }
    .add-price .p2 , .add-category .p2
    {
        display: flex;
    }
}






.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }