.orders{
    width:82%;
    height: 90vh;
    overflow-y: scroll;
    display: flex;
   flex-direction: column;
   gap:5vw;
   align-items: center;
   padding-top: 60px;
   padding-bottom: 60px;
   font-family: "Outfit",sans-serif;

}
.order{
  height:60vh;
    width:80%;
   background-color: white;
   padding: 20px 20px;
   display: flex;
   flex-direction: column;
   gap:3vw;
   border-radius: 5px;
   border: 5px solid #e2e2e2 ;
}
.order h2{
    font-family: "Outfit",sans-serif;
    font-size:max(1vw,24px);
    font-weight: 600;
}
.order-info{
    display: flex;
    flex-direction: column;
    gap:1vw;
}
.order-info p{
    color:gray;
   
   
    
}
.order-info hr{
    height:5px;
    background-color: #e2e2e2;
    border: none;
}

.item{
    display: flex;
    justify-content: space-between;
}


.customer-info{
    display: flex;
    flex-direction: column;
    gap:1vw;
}
.customer{
    display: flex;
    justify-content: space-between; 
}
.customer-detail{
    display: flex;
    justify-content: space-between;
    
}

.customer-info hr{
    height:5px;
    background-color: #e2e2e2;
    border: none;
}
.customer-info p{
    color:gray;
    width:15%;
  
}

.order button{
    width:15%;
    padding:5px 5px;
    border-radius: 5px;
    background-color: tomato;
    color:white;
    border: none;
}
