.food-display{

    margin-top: 30px;

}

.food-display h2{
font-family: "Outfit",sans-serif;
    font-size:max(2vw,24px);
    font-weight: 600;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 30px;
    gap: 25px;
    row-gap: 40px;
    padding: 0 20px;
}