.list{
   
   
    width:82%;
    height: 90vh;
    overflow-y: scroll;
    scrollbar-width: none;   /* Firefox */
  -ms-overflow-style: none;
    
    
}
.list-content{
   padding-top: 40px;
    width:80%;
    margin: auto;
    
}
